DAX.CIM.NetSamScada.XMLSchemas/NetSamAssetProfile-old.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:cim="http://visue.dk/asset_1_0" xmlns:cimp="http://www.iec.ch/cimprofile" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://visue.dk/asset_1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Assets" type="cim:Assets" />
  <xs:complexType name="Assets">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Asset" type="cim:Asset" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetExt" type="cim:AssetExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetInfo" type="cim:AssetInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetModel" type="cim:AssetModel" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetOwner" type="cim:AssetOwner" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BusbarSectionInfo" type="cim:BusbarSectionInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CableInfo" type="cim:CableInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CableInfoExt" type="cim:CableInfoExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Maintainer" type="cim:Maintainer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Manufacturer" type="cim:Manufacturer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OrganisationRole" type="cim:OrganisationRole" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OverheadWireInfoExt" type="cim:OverheadWireInfoExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PetersenCoilInfoExt" type="cim:PetersenCoilInfoExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PetersenCoilTapChangerTablePointExt" type="cim:PetersenCoilTapChangerTablePointExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductAssetModel" type="cim:ProductAssetModel" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShuntCompensatorInfo" type="cim:ShuntCompensatorInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SwitchInfo" type="cim:SwitchInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SwitchInfoExt" type="cim:SwitchInfoExt" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WireInfo" type="cim:WireInfo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WireInfoExt" type="cim:WireInfoExt" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="IdentifiedObject" abstract="true" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#IdentifiedObject">
    <xs:annotation>
      <xs:documentation>Grundlaeggende klasse som alle andre klasser nedarver fra.

This is a root class to provide common identification for all classes needing identification and naming attributes.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="mRID" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#IdentifiedObject.mRID">
        <xs:annotation>
          <xs:documentation>Master resource identifier issued by a model authority. The mRID must semantically be a UUID as specified in RFC 4122. The mRID is globally unique.
For CIMXML data files in RDF syntax, the mRID is mapped to rdf:ID or rdf:about attributes that identify CIM object elements.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Names" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#IdentifiedObject.Names">
        <xs:annotation>
          <xs:documentation>All names of this identified object.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="referenceType" type="xs:string" use="optional" />
          <xs:attribute name="ref" type="xs:string">
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Name" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#Name">
    <xs:annotation>
      <xs:documentation>The Name class provides the means to define any number of human readable  names for an object. A name is &lt;b&gt;not&lt;/b&gt; to be used for defining inter-object relationships. For inter-object relationships instead use the object identification 'mRID'.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#Name.name">
        <xs:annotation>
          <xs:documentation>Any free text that name the object.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#Name.NameType">
        <xs:annotation>
          <xs:documentation>Type of this name.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="referenceType" type="xs:string" use="optional" />
          <xs:attribute name="ref" type="xs:string">
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#NameType">
    <xs:annotation>
      <xs:documentation>Type of name. Possible values for attribute 'name' are implementation dependent but standard profiles may specify types. An enterprise may have multiple IT systems each having its own local name for the same object, e.g. a planning system may have different names from an EMS. An object may also have different names within the same IT system, e.g. localName as defined in CIM version 14. The definition from CIM14 is:
The localName is a human readable name of the object. It is a free text name local to a node in a naming hierarchy similar to a file directory structure. A power system related naming hierarchy may be: Substation, VoltageLevel, Equipment etc. Children of the same parent in such a hierarchy have names that typically are unique among them.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#NameType.description">
        <xs:annotation>
          <xs:documentation>Description of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16/TC57CIM/IEC61970/Base/Core#NameType.name">
        <xs:annotation>
          <xs:documentation>Name of the name type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:complexType name="Asset" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Asset">
    <xs:annotation>
      <xs:documentation>Benyttes til at berige PowerSystemResource med asset information.

Tangible resource of the utility, including power system equipment, various end devices, cabinets, buildings, etc. For electrical network equipment, the role of the asset is defined through PowerSystemResource and its subclasses, defined mainly in the Wires model (refer to IEC61970-301 and model package IEC61970::Wires). Asset description places emphasis on the physical characteristics of the equipment fulfilling that role.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="lotNumber" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Asset.lotNumber">
            <xs:annotation>
              <xs:documentation>Lot number for this asset. Even for the same model and version number, many assets are manufactured in lots.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="serialNumber" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Asset.serialNumber">
            <xs:annotation>
              <xs:documentation>Serial number of this asset.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="type" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Asset.type">
            <xs:annotation>
              <xs:documentation>Utility-specific classification of Asset and its subtypes, according to their corporate standards, practices, and existing IT systems (e.g., for management of assets, maintenance, work, outage, customers, etc.).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:Asset">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="lastMaintenanceDate" type="xs:dateTime" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetExt.lastMaintenanceDate">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetInfo">
    <xs:annotation>
      <xs:documentation>Set of attributes of an asset, representing typical datasheet information of a physical device that can be instantiated and shared in different data exchange contexts:
- as attributes of an asset instance (installed or in stock)
- as attributes of an asset model (product by a manufacturer)
- as attributes of a type asset (generic type of an asset as used in designs/extension planning).</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.description">
            <xs:annotation>
              <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.name">
            <xs:annotation>
              <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="AssetModel" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetInfo.AssetModel">
            <xs:annotation>
              <xs:documentation>Asset model described by this data.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="referenceType" type="xs:string" use="optional" />
              <xs:attribute name="ref" type="xs:string">
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetModel" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetModel">
    <xs:annotation>
      <xs:documentation>Model of an asset, either a product of a specific manufacturer or a generic asset model or material item. Datasheet characteristics are available through the associated AssetInfo subclass and can be shared with asset or power system resource instances.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.description">
            <xs:annotation>
              <xs:documentation>The description is a free human readable text describing or naming the object. It may be non unique and may not correlate to a naming hierarchy.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.name">
            <xs:annotation>
              <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetOrganisationRole" abstract="true" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetOrganisationRole">
    <xs:annotation>
      <xs:documentation>Role an organisation plays with respect to asset.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:OrganisationRole">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AssetOwner" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#AssetOwner">
    <xs:annotation>
      <xs:documentation>Owner of the asset.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetOrganisationRole">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="Float" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Float">
    <xs:annotation>
      <xs:documentation>A floating point number. The range is unspecified and not limited.</xs:documentation>
    </xs:annotation>
    <xs:union memberTypes="xs:float xs:double" />
  </xs:simpleType>
  <xs:simpleType name="UnitMultiplier" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#UnitMultiplier">
    <xs:annotation>
      <xs:documentation>The unit multipliers defined for the CIM.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="c">
        <xs:annotation>
          <xs:documentation>Centi 10**-2.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="d">
        <xs:annotation>
          <xs:documentation>Deci 10**-1.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="G">
        <xs:annotation>
          <xs:documentation>Giga 10**9.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="k">
        <xs:annotation>
          <xs:documentation>Kilo 10**3.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:documentation>Milli 10**-3.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="M">
        <xs:annotation>
          <xs:documentation>Mega 10**6.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="micro">
        <xs:annotation>
          <xs:documentation>Micro 10**-6.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="n">
        <xs:annotation>
          <xs:documentation>Nano 10**-9.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>No multiplier or equivalently multiply by 1.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="p">
        <xs:annotation>
          <xs:documentation>Pico 10**-12.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="T">
        <xs:annotation>
          <xs:documentation>Tera 10**12.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UnitSymbol" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#UnitSymbol">
    <xs:annotation>
      <xs:documentation>The units defined for usage in the CIM.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="A">
        <xs:annotation>
          <xs:documentation>Current in ampere.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="deg">
        <xs:annotation>
          <xs:documentation>Plane angle in degrees.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="degC">
        <xs:annotation>
          <xs:documentation>Relative temperature in degrees Celsius. In the SI unit system the symbol is ºC. Electric charge is measured in coulomb that has the unit symbol C. To distinguish degree Celsius form coulomb the symbol used in the UML is degC. Reason for not using ºC is the special character º is difficult to manage in software.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="F">
        <xs:annotation>
          <xs:documentation>Capacitance in farad.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="g">
        <xs:annotation>
          <xs:documentation>Mass in gram.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="h">
        <xs:annotation>
          <xs:documentation>Time in hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="H">
        <xs:annotation>
          <xs:documentation>Inductance in henry.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Hz">
        <xs:annotation>
          <xs:documentation>Frequency in hertz.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="J">
        <xs:annotation>
          <xs:documentation>Energy in joule.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m">
        <xs:annotation>
          <xs:documentation>Length in meter.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m2">
        <xs:annotation>
          <xs:documentation>Area in square meters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="m3">
        <xs:annotation>
          <xs:documentation>Volume in cubic meters.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="min">
        <xs:annotation>
          <xs:documentation>Time in minutes.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="N">
        <xs:annotation>
          <xs:documentation>Force in newton.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>Dimension less quantity, e.g. count, per unit, etc.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ohm">
        <xs:annotation>
          <xs:documentation>Resistance in ohm.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pa">
        <xs:annotation>
          <xs:documentation>Pressure in pascal (n/m2).</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rad">
        <xs:annotation>
          <xs:documentation>Plane angle in radians.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="s">
        <xs:annotation>
          <xs:documentation>Time in seconds.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="S">
        <xs:annotation>
          <xs:documentation>Conductance in siemens.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="V">
        <xs:annotation>
          <xs:documentation>Voltage in volt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VA">
        <xs:annotation>
          <xs:documentation>Apparent power in volt ampere.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VAh">
        <xs:annotation>
          <xs:documentation>Apparent energy in volt ampere hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VAr">
        <xs:annotation>
          <xs:documentation>Reactive power in volt ampere reactive.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VArh">
        <xs:annotation>
          <xs:documentation>Reactive energy in volt ampere reactive hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="W">
        <xs:annotation>
          <xs:documentation>Active power in watt.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Wh">
        <xs:annotation>
          <xs:documentation>Real energy in what hours.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CurrentFlow">
    <xs:annotation>
      <xs:documentation>Electrical current with sign convention: positive flow is out of the conducting equipment into the connectivity node. Can be both AC and DC.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="A" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Voltage">
    <xs:annotation>
      <xs:documentation>Electrical voltage, can be both AC and DC.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="V" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BusbarSectionInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#BusbarSectionInfo">
    <xs:annotation>
      <xs:documentation>Busbar section data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#BusbarSectionInfo.ratedCurrent">
            <xs:annotation>
              <xs:documentation>Rated current.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#BusbarSectionInfo.ratedVoltage">
            <xs:annotation>
              <xs:documentation>Rated voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CableOuterJacketKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableOuterJacketKind">
    <xs:annotation>
      <xs:documentation>Kind of cable outer jacket.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="insulating">
        <xs:annotation>
          <xs:documentation>Insulating cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="linearLowDensityPolyethylene">
        <xs:annotation>
          <xs:documentation>Linear low density polyethylene cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="none">
        <xs:annotation>
          <xs:documentation>Cable has no outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Pther kind of cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="polyethylene">
        <xs:annotation>
          <xs:documentation>Polyethylene cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="pvc">
        <xs:annotation>
          <xs:documentation>PVC cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="semiconducting">
        <xs:annotation>
          <xs:documentation>Semiconducting cable outer jacket.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CableShieldMaterialKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableShieldMaterialKind">
    <xs:annotation>
      <xs:documentation>Kind of cable shield material.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="aluminum">
        <xs:annotation>
          <xs:documentation>Aluminum cable shield.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="copper">
        <xs:annotation>
          <xs:documentation>Copper cable shield.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lead">
        <xs:annotation>
          <xs:documentation>Lead cable shield.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other kind of cable shield material.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="steel">
        <xs:annotation>
          <xs:documentation>Steel cable shield.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CableInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfo">
    <xs:annotation>
      <xs:documentation>Cable data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:WireInfoExt">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="outerJacketKind" type="cim:CableOuterJacketKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfo.outerJacketKind">
            <xs:annotation>
              <xs:documentation>Kind of outer jacket of the cable.
CIM Adapter: cim.cableinfo.outerjacket.kind</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="shieldMaterial" type="cim:CableShieldMaterialKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfo.shieldMaterial">
            <xs:annotation>
              <xs:documentation>Material of the shield.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CableConstructionKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableConstructionKind">
    <xs:annotation>
      <xs:documentation>Kind of cable construction.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="compacted">
        <xs:annotation>
          <xs:documentation>Compacted cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="compressed">
        <xs:annotation>
          <xs:documentation>Compressed cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other kind of cable construction.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sector">
        <xs:annotation>
          <xs:documentation>Sector cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="segmental">
        <xs:annotation>
          <xs:documentation>Segmental cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="solid">
        <xs:annotation>
          <xs:documentation>Solid cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="stranded">
        <xs:annotation>
          <xs:documentation>Stranded cable.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Resistance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Resistance">
    <xs:annotation>
      <xs:documentation>Resistance (real part of impedance).</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="ohm" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Reactance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Reactance">
    <xs:annotation>
      <xs:documentation>Reactance (imaginary part of impedance), at rated frequency.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="ohm" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="CableInfoExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:CableInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="constructionKind" type="cim:CableConstructionKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfo.constructionKind">
            <xs:annotation>
              <xs:documentation>Kind of construction of this cable.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="r0Neutral" type="cim:Resistance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt.r0Neutral">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="rNeutral" type="cim:Resistance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt.rNeutral">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="sheathAsNeutral" type="xs:boolean" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfo.sheathAsNeutral">
            <xs:annotation>
              <xs:documentation>True if sheath / shield is used as a neutral (i.e., bonded).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="shieldCrossSectionalArea" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt.shieldCrossSectionalArea">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="x0Neutral" type="cim:Reactance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt.x0Neutral">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="xNeutral" type="cim:Reactance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CableInfoExt.xNeutral">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Maintainer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Maintainer">
    <xs:annotation>
      <xs:documentation>Organisation that maintains assets.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetOrganisationRole">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Manufacturer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Manufacturer">
    <xs:annotation>
      <xs:documentation>Organisation that manufactures asset products.
Fx ABB, Siemens etc.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:OrganisationRole">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganisationRole" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#OrganisationRole">
    <xs:annotation>
      <xs:documentation>Identifies a way in which an organisation may participate in the utility enterprise (e.g., customer, manufacturer, etc).</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:IdentifiedObject">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#IdentifiedObject.name">
            <xs:annotation>
              <xs:documentation>The name is any free human readable and possibly non unique text naming the object.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OverheadWireInfoExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#OverheadWireInfoExt">
    <xs:annotation>
      <xs:documentation>Conductor cross section size mm2.
Danish: Faseleder kvadrat.
CIM Adapter: cim.overheadwire.conductor.size</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:WireInfoExt">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="CoolingKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#CoolingKind">
    <xs:annotation>
      <xs:documentation>Kind of cooling.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="forcedAir">
      </xs:enumeration>
      <xs:enumeration value="forcedOilAndAir">
      </xs:enumeration>
      <xs:enumeration value="other">
      </xs:enumeration>
      <xs:enumeration value="selfCooling">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PetersenCoilModeKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilModeKind">
    <xs:annotation>
      <xs:documentation>The mode of operation for a Petersen coil.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="automaticPositioning">
        <xs:annotation>
          <xs:documentation>Automatic positioning.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fixed">
        <xs:annotation>
          <xs:documentation>Fixed position.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="manual">
        <xs:annotation>
          <xs:documentation>Manual positioning.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PetersenCoilOperationalLimitKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilOperationalLimitKind">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2 hour">
      </xs:enumeration>
      <xs:enumeration value="continuous">
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PetersenCoilInfoExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="cooling" type="cim:CoolingKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.cooling">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="maximumCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.maximumCurrent">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="minimumCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.minimumCurrent">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="mode" type="cim:PetersenCoilModeKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.mode">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="operationLimit" type="cim:PetersenCoilOperationalLimitKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.operationLimit">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedImpluseWithstandVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.ratedImpluseWithstandVoltage">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedIsolationVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.ratedIsolationVoltage">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilInfoExt.ratedVoltage">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PetersenCoilTapChangerTablePointExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilTapChangerTablePointExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="current" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilTapChangerTablePointExt.current">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="step" type="xs:integer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilTapChangerTablePointExt.step">
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="voltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#PetersenCoilTapChangerTablePointExt.voltage">
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductAssetModel" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ProductAssetModel">
    <xs:annotation>
      <xs:documentation>Asset model by a specific manufacturer.
Fx ABB Safe Ring blah blah.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetModel">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="Manufacturer" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ProductAssetModel.Manufacturer">
            <xs:annotation>
              <xs:documentation>Manufacturer of this asset model.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:attribute name="referenceType" type="xs:string" use="optional" />
              <xs:attribute name="ref" type="xs:string">
              </xs:attribute>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ApparentPower" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ApparentPower">
    <xs:annotation>
      <xs:documentation>Product of the RMS value of the voltage and the RMS value of the current.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="VA" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ShuntCompensatorInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ShuntCompensatorInfo">
    <xs:annotation>
      <xs:documentation>Properties of shunt capacitor, shunt reactor or switchable bank of shunt capacitor or reactor assets.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="maxPowerLoss" type="cim:ApparentPower" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ShuntCompensatorInfo.maxPowerLoss">
            <xs:annotation>
              <xs:documentation>Maximum allowed Apparent Power loss.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ShuntCompensatorInfo.ratedCurrent">
            <xs:annotation>
              <xs:documentation>Rated current.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#ShuntCompensatorInfo.ratedVoltage">
            <xs:annotation>
              <xs:documentation>Rated voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SwitchInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfo">
    <xs:annotation>
      <xs:documentation>Switch data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="breakingCapacity" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfo.breakingCapacity">
            <xs:annotation>
              <xs:documentation>The maximum fault current a breaking device can break safely under prescribed conditions of use.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfo.ratedCurrent">
            <xs:annotation>
              <xs:documentation>Rated current.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfo.ratedVoltage">
            <xs:annotation>
              <xs:documentation>Rated voltage.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SwitchInfoExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:SwitchInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedBreakingCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt.ratedBreakingCurrent">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedMakingCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt.ratedMakingCurrent">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedWithstandCurrent1sec" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt.ratedWithstandCurrent1sec">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedWithstandCurrent3sek" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt.ratedWithstandCurrent3sek">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="relayFunction" type="xs:string" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#SwitchInfoExt.relayFunction">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="WireInsulationKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInsulationKind">
    <xs:annotation>
      <xs:documentation>Kind of wire insulation.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="asbestosAndVarnishedCambric">
        <xs:annotation>
          <xs:documentation>Asbestos and varnished cambric wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="beltedPilc">
        <xs:annotation>
          <xs:documentation>Belted pilc wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="butyl">
        <xs:annotation>
          <xs:documentation>Butyl wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="crosslinkedPolyethylene">
        <xs:annotation>
          <xs:documentation>Crosslinked polyethylene wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ethylenePropyleneRubber">
        <xs:annotation>
          <xs:documentation>Ethylene propylene rubber wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highMolecularWeightPolyethylene">
        <xs:annotation>
          <xs:documentation>High nolecular weight polyethylene wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="highPressureFluidFilled">
        <xs:annotation>
          <xs:documentation>High pressure fluid filled wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="lowCapacitanceRubber">
        <xs:annotation>
          <xs:documentation>Low capacitance rubber wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="oilPaper">
        <xs:annotation>
          <xs:documentation>Oil paper wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other kind of wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ozoneResistantRubber">
        <xs:annotation>
          <xs:documentation>Ozone resistant rubber wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rubber">
        <xs:annotation>
          <xs:documentation>Rubber wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="siliconRubber">
        <xs:annotation>
          <xs:documentation>Silicon rubber wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeResistantHighMolecularWeightPolyethylene">
        <xs:annotation>
          <xs:documentation>Tree resistant high molecular weight polyethylene wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="treeRetardantCrosslinkedPolyethylene">
        <xs:annotation>
          <xs:documentation>Tree retardant crosslinked polyethylene wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unbeltedPilc">
        <xs:annotation>
          <xs:documentation>Unbelted pilc wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="varnishedCambricCloth">
        <xs:annotation>
          <xs:documentation>Varnished cambric cloth wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="varnishedDacronGlass">
        <xs:annotation>
          <xs:documentation>Varnished dacron glass wire insulation.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="WireMaterialKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireMaterialKind">
    <xs:annotation>
      <xs:documentation>Kind of wire material.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="Specifies an enumerated type">enumeration</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="acsr">
        <xs:annotation>
          <xs:documentation>Aluminum conductor steel reinforced.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aluminum">
        <xs:annotation>
          <xs:documentation>Aluminum wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aluminumAlloy">
        <xs:annotation>
          <xs:documentation>Aluminum-alloy wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aluminumAlloySteel">
        <xs:annotation>
          <xs:documentation>Aluminum-alloy-steel wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aluminumSteel">
        <xs:annotation>
          <xs:documentation>Aluminum-steel wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="copper">
        <xs:annotation>
          <xs:documentation>Copper wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="other">
        <xs:annotation>
          <xs:documentation>Other wire material.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="steel">
        <xs:annotation>
          <xs:documentation>Steel wire.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="aaac">
        <xs:annotation>
          <xs:documentation>Aluminum-alloy conductor steel reinforced.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="WireInfo" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfo">
    <xs:annotation>
      <xs:documentation>Wire data that can be specified per line segment phase, or for the line segment as a whole in case its phases all have the same wire characteristics.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:AssetInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="insulationMaterial" type="cim:WireInsulationKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfo.insulationMaterial">
            <xs:annotation>
              <xs:documentation>(if insulated conductor) Material used for insulation.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="material" type="cim:WireMaterialKind" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfo.material">
            <xs:annotation>
              <xs:documentation>Conductor material.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedCurrent" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfo.ratedCurrent">
            <xs:annotation>
              <xs:documentation>Current carrying capacity of the wire under stated thermal conditions.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Susceptance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Susceptance">
    <xs:annotation>
      <xs:documentation>Imaginary part of admittance.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="S" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="Conductance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#Conductance">
    <xs:annotation>
      <xs:documentation>Factor by which voltage must be multiplied to give corresponding power lost from a circuit. Real part of admittance.</xs:documentation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="CIMDatatype">CIMDatatype</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="cim:Float">
        <xs:attribute name="multiplier" type="cim:UnitMultiplier" />
        <xs:attribute fixed="S" name="unit" type="cim:UnitSymbol" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="WireInfoExt" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt">
    <xs:annotation>
      <xs:documentation cimp:category="Stereotype" cimp:notes="NetSam">NetSam</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="cim:WireInfo">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="b0ch" type="cim:Susceptance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.b0ch">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="bch" type="cim:Susceptance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.bch">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="conductorCrossSectionalArea" type="xs:decimal" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.conductorCrossSectionalArea">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="g0ch" type="cim:Conductance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.g0ch">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="gch" type="cim:Conductance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.gch">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="r" type="cim:Resistance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.r">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="r0" type="cim:Resistance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.r0">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedVoltage" type="cim:Voltage" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.ratedVoltage">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="ratedWithstandCurrent1sec" type="cim:CurrentFlow" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.ratedWithstandCurrent1sec">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="x" type="cim:Reactance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.x">
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="x0" type="cim:Reactance" sawsdl:modelReference="http://iec.ch/TC57/2013/CIM-schema-cim16#WireInfoExt.x0">
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>